@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-primary bg-body font-montserrat;
  }
  p {
    @apply text-secondary;
  }

  .h1 {
    @apply text-4xl xl:text-[64px] text-primary xl:leading-[72px] font-extrabold mb-[18px];
  }
  .h2 {
    @apply text-4xl mb-6 font-bold;
  }

  .description {
    @apply text-base xl:text-xl xl:leading-8;
  }

  .section {
    @apply w-full h-[80vh] pt-[60px] xl:pt-[30px];
  }
  .btn {
    @apply rounded-[10px] w-full uppercase font-medium text-white tracking-[2px] text-[13px] flex justify-center items-center transition-all duration-300;
  }

  .btn-sm {
    @apply h-14;
  }

  .btn-lg {
    @apply h-16;
  }

  .btn-cta {
    @apply bg-primary h-[54px] rounded-[5px] px-4
    transition-all duration-300;
  }

  .btn-primary {
    @apply bg-primary;
  }

  .btn-secondary {
    @apply bg-secondary;
  }

  .btn-accent {
    @apply bg-accent hover:bg-accent-hover;
  }
  .active {
    @apply text-yellowkouzua;
  }
}

/* date range custom css */
.swiper-custom-pagination {
  position: absolute !important;
  top: 10% !important;
  transform: translateY(-50%) !important;
  transform: translateX(-4%) !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center;
  align-items: flex-end !important;
  gap: 4rem !important;
  z-index: 50 !important;
}

.rdrDayToday:not(.rdrDayPassive) .rdrInRange ~ .rdrDayNumber span::after,
.rdrDayToday:not(.rdrDayPassive) .rdrStartEdge ~ .rdrDayNumber span::after,
.rdrDayToday:not(.rdrDayPassive) .rdrEndEdge ~ .rdrDayNumber span::after,
.rdrDayToday:not(.rdrDayPassive) .rdrSelected ~ .rdrDayNumber span::after {
  background-color: #fff !important;
}

.rdrDayToday .rdrDayNumber span::after {
  background: #111828 !important;
}

.rdrMonthAndYearPickers {
  font-size: 16px;
}
.rdrDayNumber,
.rdrWeekDay {
  color: #1e1f23 !important;
  font-weight: 500 !important;
}

.SliderThumb {
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  padding: 8px;
  background-color: #0a3d62;
  border: none;
  position: relative;
  z-index: 1;
  border-radius: 50%;
}

.SliderThumb:focus::after,
.SliderThumb:active::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border: 1px dotted white;
  border-radius: 50%;
  pointer-events: none;
}

.SliderThumb:focus::before,
.SliderThumb:active::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  background: radial-gradient(
    circle,
    rgba(0, 136, 216, 0.4) 60%,
    transparent 70%
  );
  border-radius: 50%;
  z-index: -1;
}

/************************************************************/
/*           Loader OpenStreet map Search                  */
/***********************************************************/
.loader {
  width: 30px;
  aspect-ratio: 1;
  display: grid;
  mask: conic-gradient(from 15deg, #0000, #000);
  animation: l26 1s infinite steps(12);
}
.loader,
.loader:before,
.loader:after {
  background: radial-gradient(closest-side at 50% 12.5%, #777777 96%, #0000) 50%
      0/20% 80% repeat-y,
    radial-gradient(closest-side at 12.5% 50%, #777777 96%, #0000) 0 50%/80% 20%
      repeat-x;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  transform: rotate(30deg);
}
.loader:after {
  transform: rotate(60deg);
}

@keyframes l26 {
  100% {
    transform: rotate(1turn);
  }
}

/************************************************************/
/*           BreadCumb Animation                  */
/***********************************************************/
@keyframes animate {
  0% {
    transform: translateY(100px) rotate(0deg); /* Démarre en bas (hors de la section) */
    opacity: 0; /* Invisible au départ */
  }
  20% {
    opacity: 0.6; /* Apparition progressive */
  }
  80% {
    opacity: 0.6; /* Reste visible pendant la montée */
  }
  100% {
    transform: translateY(-400px) rotate(360deg); /* Monte jusqu'en haut */
    opacity: 0; /* Disparaît progressivement */
  }
}

/* Styles de la section breadcrumb */
.breadcrumb-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fafafa;
  margin-top: 5rem;
  padding: 4rem;
  overflow: hidden; /* Cache tout ce qui dépasse de la section */
}

.breadcrumb-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(0.2px);
  z-index: 5;
}

/* Circles animation */
.breadcrumb-section .circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  list-style: none;
}

.breadcrumb-section .circles li {
  position: absolute;
  display: block;
  background-color: #eeba2b; /* Couleur par défaut */
  animation: animate 10s linear infinite; /* Animation plus rapide */
  opacity: 0; /* Invisible au départ */
  bottom: -100px; /* Démarre hors de la section (en bas) */
  border-radius: 10%; /* Circulaires avec bords arrondis */
  transition: all 0.3s ease; /* Transition fluide */
}

/* Ajustement des positions et tailles des cercles */
.breadcrumb-section .circles li:nth-child(1) {
  width: 80px;
  height: 80px;
  left: 5%;
  animation-delay: 0s;
}

.breadcrumb-section .circles li:nth-child(2) {
  width: 60px;
  height: 60px;
  left: 20%;
  animation-delay: 3s; /* Délai plus long */
  background-color: #111828; /* Couleur différente */
}

.breadcrumb-section .circles li:nth-child(3) {
  width: 100px;
  height: 100px;
  left: 35%;
  animation-delay: 6s; /* Délai plus long */
}

.breadcrumb-section .circles li:nth-child(4) {
  width: 50px;
  height: 50px;
  left: 50%;
  animation-delay: 9s; /* Délai plus long */
  background-color: #111828; /* Couleur différente */
}

.breadcrumb-section .circles li:nth-child(5) {
  width: 90px;
  height: 90px;
  left: 65%;
  animation-delay: 12s; /* Délai plus long */
}

.breadcrumb-section .circles li:nth-child(6) {
  width: 40px;
  height: 40px;
  left: 80%;
  animation-delay: 15s; /* Délai plus long */
  background-color: #111828; /* Couleur différente */
}

/* Contenu du breadcrumb */
.breadcrumb-section .breadcrumb-content {
  z-index: 10; /* Mettre le contenu au-dessus des cercles */
  text-align: center;
}

/************************************************************/
/*           Swipper Css                */
/***********************************************************/

.autoplay-progress {
  position: absolute;
  right: 24px;
  bottom: 35%;
  z-index: 15;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  color: #eeba2b;
}

.autoplay-progress svg {
  --progress: 1;
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  stroke-width: 2.5px;
  stroke: #eeba2b;
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.slider-button {
  transition: 0.5s;
  outline: none;
  position: absolute;
  width: 100px;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.slider-button svg {
  display: block;
  transition: 0.5s;
}

.slider-button .slider-svg-circle-wrap {
  transition: 0.5s;
  transform-origin: -20px 40px;
  opacity: 1;
}

.slider-button circle {
  transition: 0.5s;
  stroke-width: 2px;
  stroke: #eeba2b;
  fill: none;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  opacity: 1;
  transform-origin: 0px 0px 0px;
}

.slider-button .slider-svg-arrow {
  transition: 0.5s;
  fill: #eeba2b;
  transform: rotateY(180deg) translate(-55px, 36.1px) scale(1.75);
}

.slider-button-prev {
  left: 24px;
}

.slider-button-next {
  right: 24px;
}

.swiper-button-disabled {
  display: none;
}

.slider-button .slider-svg-wrap {
  transform: translateY(353px);
}

.slider-button-next .slider-svg-wrap {
  transform: translateY(353px) rotateY(180deg);
  transform-origin: 80px 0px 0px;
}

.slider-button .slider-svg-line {
  transition: 0.5s;
  stroke: #eeba2b;
  stroke-width: 2;
  transform: translate(50px, 42px);
}

.slider-button-prev:not(.slider-button-disabled):hover svg {
  transform: translate(-16px);
}

.slider-button-next:not(.slider-button-disabled):hover svg {
  transform: translate(16px);
}

.slider-button:not(.slider-button-disabled):hover .slider-svg-circle-wrap {
  transform: scale(1.1);
}

.slider-button:not(.slider-button-disabled):hover circle {
  stroke-dasharray: 4px;
  stroke-dashoffset: 4px;
  opacity: 1;
}

.slider-button:not(.slider-button-disabled):hover .slider-svg-arrow {
  transform: rotateY(180deg) translate(-40px, 36.1px) scale(1.75);
}

.slider-button:not(.slider-button-disabled):hover .slider-svg-line {
  transform: translate(35px, 42px) scaleX(0.5);
}

/************************************************************/
/*           Loader Vehicle And Immo Css                */
/***********************************************************/

.loaderProduct {
  position: relative;
  width: 45px;
  height: 45px;
  margin: 90px auto;
  animation: spin 2s ease-in-out infinite;
}

.bubble-1 {
  position: absolute;
  top: 0;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: #111828;
}
.bubble-2 {
  position: absolute;
  top: 0;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: #eeba2b;
}

.bubble-2 {
  top: auto;
  bottom: 0;
}

.bubble-1,
.bubble-2 {
  animation: bounce 2s ease-in-out infinite;
}

.bubble-2 {
  animation-delay: -1s;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}
